UPDATE public.product_variants pv SET sku_internal = 'MP-' || COALESCE(pm.code, UPPER(SUBSTRING(pm.name FROM 1 FOR 3))) || '-' || COALESCE(f.code, UPPER(SUBSTRING(f.name FROM 1 FOR 3))) || '-' || COALESCE(cc.code, UPPER(SUBSTRING(cc.name FROM 1 FOR 3))) || '-' || UPPER(pv.size) FROM public.products p LEFT JOIN public.product_models pm ON p.model_id = pm.id LEFT JOIN public.fabrics f ON p.fabric_id = f.id LEFT JOIN public.canonical_colors cc ON p.color_id = cc.id WHERE pv.product_id = p.id;
